---
layout: default
---
<header>
<div class="art-meta" id="art-meta"><div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="sdr">Salon des Refusés 2017</h1>
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  <div class="row"><div class="col-md-6">
    <p>Salon des Refusés ("exhibition of rejects") was an 1863 exhibition of artworks rejected from
    the official Paris Salon. It displayed works by later famous modernists such as Édouard Manet,
    whose paintings were rejected by the conservative jury of the Paris Salon. We feel that a similar space 
    is needed to explore new ideas and new ways of doing programming research and computer science.</p>

    <p>Many interesting ideas about programming struggle to find space in the modern programming 
    language research community, often because they are difficult to evaluate using proofs, 
    measurements or controlled user studies. As a result, new ideas are often seen as "unscientific".</p>
    
  </div><div class="col-md-6">
    <p>To provide space for unorthodox thought provoking ideas, we take inspiration from literary
    criticism. Papers that provoked an interesting discussion or criticism among the program committee 
    members were presented together with an attributed critical review that presents an alternative
    position, develops additional context or summarizes discussion about the work.</p>

    <p>In 2017, we accepted the 8 most inspiring papers out of 16 submissions. Below, you'll
    find the revised versions of the papers with critical commentary. We hope both will
    encou&shy;rage you to find new ways of doing and thinking about computer science!</p>
  </div></div>
  <div class="row"><div class="col-sm-12">
    <p class="links">
      <a href="#article"><i class="fa fa-arrow-circle-down"></i> Salon des Refusés 2017 papers</a>
    </p>          
  </div></div>
</div></div>

{% include header.html %}
</header>


<article id="article">
{{ content }}
</article>
